* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    background: url(./image/back.webp);
    color: #fff;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}


.question_main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;

}

.question {
    width: 60%;
    border: 4px solid goldenrod;
    background-color: black;
    border-radius: 50em;
    text-align: center;
    padding: 12px;
    letter-spacing: 2px;

}

.question_text {
    display: flex;
    justify-content: center;
}

.question_number {
    background-color: black;
    border: 4px solid goldenrod;
    border-radius: 50%;
    padding: 20px;
    margin-bottom: 10px;
}

.answer {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 2rem;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;


}


.scoer {
    display: inline-block;
    border: 4px solid goldenrod;
    border-radius: 50px;
    background-color: black;
    padding: 20px;
    margin-top: 5rem;
    text-align: center;
}

.line {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 5rem;
}

.btn2 {
    width: 20%;
    margin-top: 2rem;
}

.btn2>button:hover {
    cursor: pointer;
    box-shadow: 0 0 5px 5px goldenrod;

}

.btn:hover {
    cursor: pointer;
    box-shadow: 0 0 5px 5px goldenrod;
    border-radius: 50em;
}

.spn {
    width: 30%;
    border-bottom: 4px solid goldenrod;

}

.play_btn {
    width: 100%;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    margin-top: 4rem;

}

.btn {
    width: 40%;
    margin-bottom: 2rem;

}


button {
    width: 100%;
    font-size: 16px;
    color: #fff;
    background-color: black;
    border-radius: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 5px solid goldenrod;
    padding: 10px;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 2px;
    font-size: 22px;
}